/*ヘッダー*/
.header{
    width: 90%;
    margin: 0 auto;
}

.header-inner{
    width: 100%;
    display: flex;
    margin: 40px 0;
    text-align: center;
}

.header-logo{
    width: 10%;
    font-size: 32px;
    margin-right: 50%;
}

.header-link {
    width: 15%;
    text-decoration: none;
    color: #000;
    background-color: #ddd;
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 24px;
    padding: 10px;
    margin-right: 5%;
}

.logout{
    width: 15%;
}

.logout-form{
    width: 100%;
}

.logout-form__button{
    width: 100%;
    font-size: 24px;
    border: 1px solid #000;
    border-radius: 3px;
    background-color: #ddd;
    padding: 10px;
}

/*メイン*/
/*検索*/

.main{
    width: 100%;
}

.main-inner{
    width: 100%;
}

.main-header{
    width: 70%;
}

.form-search{
    width: 100%;
    display: flex;
    margin-bottom: 60px;
}

.form-search__input{
    width: 70%;
    margin-left: 80px;
}

.form-search__input-name {
    width: 100%;
    height: 60px;
    font-size: 20px;
}

.form-search__button{
    width: 20%;
}

.form-search__button-submit {
    width: 100%;
    height: 60px;
    font-size: 24px;
    border: 1px solid #000;
    border-radius: 6px;
    margin-left: 20px;
}

/*テーブル*/

.main-content{
    width: 90%;
    margin: 0 auto;
}

.dictionary-table{
    width: 100%;
}

.dictionary-table__inner{
    width: 100%;
    display: flex;
}

.dictionary-table__inner-date{
    width: 10%;
    font-size: 12px;
    border-bottom: 1px solid #ddd;
}

.dictionary-table__inner-update{
    width: 85%;
    border-bottom: 1px solid #ddd;
}

.dictionary-table__form-update{
    width: 100%;
    display: flex;
}

.dictionary-table__form-input{
    width: 100%;
}

.dictionary-table__form-keyword{
    width: 20%;
    border: none;
}

.dictionary-table__form-description{
    width: 74%;
    border: none;
}

.dictionary-table__update-button{
    width: 6%;
}

.dictionary-table__update-submit{
    width: 100%;
}

.dictionary-table__inner-delete{
    width: 5%;
    border-bottom: 1px solid #ddd;
}

.dictionary-table__form-delete{
    width: 100%;
}

.dictionary-table__delete-button{
    width: 100%;
}

.dictionary-table__delete-submit{
    width: 100%;
}

.error-message {
    color: #ff0000;
}