/*ヘッダー*/
.header {
    width: 90%;
    margin: 0 auto;
}

.header-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 40px 0 80px 0;
    text-align: center;
}

.header-logo {
    width: 20%;
    font-size: 32px;
}

/*メイン*/
.main {
    width: 60%;
    margin: 0 auto;
}

.main-inner {
    width: 100%;
}

.login-form {
    width: 100%;
    margin: 0 auto;
}

.form-content {
    width: 100%;
    display: flex;
    margin-top: 20px;
}

.form-content__name {
    width: 20%;
    font-size: 18px;
}

.form-content__name-input {
    width: 80%;
    font-size: 24px;
}

input {
    width: 100%;
    height: 30px;
}

.form-content__button {
    width: 30%;
    margin: 0 auto;
}

.form-content__button-submit {
    width: 100%;
    height: 60px;
    font-size: 18px;
    margin: 60px 0;
}

.login-link {
    width: 20%;
    margin: 0 auto;
}

.login-link__button {
    width: 100%;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 20px;
    font-size: 18px;
    background-color: #ddd;
    color: #000;
}

.error-message {
    color: #ff0000;
}