/*ヘッダー*/
.header {
    width: 90%;
    margin: 0 auto;
}

.header-inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
    text-align: center;
}

.header-logo {
    width: 10%;
    font-size: 32px;
}

.header-link {
    width: 15%;
    text-decoration: none;
    color: #000;
    background-color: #ddd;
    border: 1px solid #000;
    border-radius: 3px;
    font-size: 24px;
    padding: 10px;
}

/*メイン*/
/*検索*/
.main {
    width: 80%;
    margin: 0 auto;
}

.main-inner {
    width: 100%;
}

.main-content {
    width: 100%;
}

.form-register {
    width: 100%;
}

.form-register__input {
    width: 100%;
}

.form-register__input-keyword {
    width: 100%;
    height: 60px;
    font-size: 24px;
}

.form-register__input-description {
    width: 100%;
    height: 340px;
    font-size: 24px;
    margin-top: 40px;
}

.form-register__button {
    width: 20%;
    margin: 0 auto;
}

.form-register__button-submit {
    width: 100%;
    height: 60px;
    font-size: 24px;
    margin-top: 20px;
}

.error-message {
    color: #ff0000;
}